# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

.DS_Store

# For vim:
*.swp

# For rubinius:
#*.rbc

# Reports
reports/

# Bundler
vendor
