# rcov generated
coverage
coverage.data

.idea
rspec_html_reports
# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

.DS_Store

# For vim:
*.swp

# For rubinius:
#*.rbc

# docs
docs/
